[Data]
Type=Venom
Date=2015/09/19 20:35:27
Timestamp=1442694927
Resolution=1366x768
Unknown_Icon_Handling=Top-Left
[Desktop]
derick-sign.jpgC%3A%5CUsers%5CVenom%5CDesktop%5Cderick-sign.jpg%7C_File=13:626
IQ+RetailC%3A%5CUsers%5CPublic%5CDesktop%5CIQ+Retail.lnk%7C_lnk=1288:210
Excel+Password+UnlockerC%3A%5CUsers%5CPublic%5CDesktop%5CExcel+Password+Unlocker.lnk%7C_lnk=913:2
Network=13:2
Bitstream+Font+Navigator+%28%36%34-Bit%29C%3A%5CUsers%5CPublic%5CDesktop%5CBitstream+Font+Navigator+%28%36%34-Bit%29.lnk%7C_lnk=688:522
Corel+CAPTURE+X%37+%28%36%34-Bit%29C%3A%5CUsers%5CPublic%5CDesktop%5CCorel+CAPTURE+X%37+%28%36%34-Bit%29.lnk%7C_lnk=688:626
Corel+CONNECT+X%37+%28%36%34-Bit%29C%3A%5CUsers%5CPublic%5CDesktop%5CCorel+CONNECT+X%37+%28%36%34-Bit%29.lnk%7C_lnk=763:2
Corel+PHOTO-PAINT+X%37+%28%36%34-Bit%29C%3A%5CUsers%5CPublic%5CDesktop%5CCorel+PHOTO-PAINT+X%37+%28%36%34-Bit%29.lnk%7C_lnk=763:106
CorelDRAW+X%37+%28%36%34-Bit%29C%3A%5CUsers%5CPublic%5CDesktop%5CCorelDRAW+X%37+%28%36%34-Bit%29.lnk%7C_lnk=763:210
FileZilla+ClientC%3A%5CUsers%5CPublic%5CDesktop%5CFileZilla+Client.lnk%7C_lnk=238:210
Recycle+Bin=13:106
This+PC=13:210
UnsortedC%3A%5CUsers%5CVenom%5CDesktop%5CUnsorted%7C_Dir=13:314
~%24ivacy+Policy.docxC%3A%5CUsers%5CVenom%5CDesktop%5C~%24ivacy+Policy.docx%7C_File=13:418
%38+Series+Batch+AGC%3A%5CUsers%5CVenom%5CDesktop%5C%38+Series+Batch+AG.lnk%7C_lnk=13:522
Allway+SyncC%3A%5CUsers%5CPublic%5CDesktop%5CAllway+Sync.lnk%7C_lnk=88:2
Ashampoo+Snap+%38++C%3A%5CUsers%5CVenom%5CDesktop%5CAshampoo+Snap+%38++.lnk%7C_lnk=88:106
Auslogics+DiskDefragC%3A%5CUsers%5CVenom%5CDesktop%5CAuslogics+DiskDefrag.lnk%7C_lnk=88:210
Axialis+CursorWorkshopC%3A%5CUsers%5CVenom%5CDesktop%5CAxialis+CursorWorkshop.lnk%7C_lnk=88:314
Axialis+IconWorkshopC%3A%5CUsers%5CVenom%5CDesktop%5CAxialis+IconWorkshop.lnk%7C_lnk=88:418
BracketsC%3A%5CUsers%5CVenom%5CDesktop%5CBrackets.lnk%7C_lnk=88:522
CLSID.docxC%3A%5CUsers%5CVenom%5CDesktop%5CCLSID.docx%7C_File=163:314
Control+Panel=163:626
Excel+%32%30%31%33C%3A%5CUsers%5CVenom%5CDesktop%5CExcel+%32%30%31%33.lnk%7C_lnk=238:106
Hard+Disk+Low+Level+Format+ToolC%3A%5CUsers%5CVenom%5CDesktop%5CHard+Disk+Low+Level+Format+Tool.lnk%7C_lnk=238:314
HelpNDoc+%34C%3A%5CUsers%5CVenom%5CDesktop%5CHelpNDoc+%34.lnk%7C_lnk=238:418
HTTrack+Website+CopierC%3A%5CUsers%5CVenom%5CDesktop%5CHTTrack+Website+Copier.lnk%7C_lnk=238:522
ImgBurnC%3A%5CUsers%5CPublic%5CDesktop%5CImgBurn.lnk%7C_lnk=238:626
Inno+Script+StudioC%3A%5CUsers%5CPublic%5CDesktop%5CInno+Script+Studio.lnk%7C_lnk=313:2
Installations.txtC%3A%5CUsers%5CVenom%5CDesktop%5CInstallations.txt%7C_File=313:106
iQ+Retail.RDPC%3A%5CUsers%5CVenom%5CDesktop%5CiQ+Retail.RDP%7C_File=313:314
Lock+ComputerC%3A%5CUsers%5CVenom%5CDesktop%5CLock+Computer.lnk%7C_lnk=1288:2
Lookup.csvC%3A%5CUsers%5CVenom%5CDesktop%5CLookup.csv%7C_File=313:626
Malwarebytes+Anti-MalwareC%3A%5CUsers%5CPublic%5CDesktop%5CMalwarebytes+Anti-Malware.lnk%7C_lnk=388:2
Microsoft+Account.txtC%3A%5CUsers%5CVenom%5CDesktop%5CMicrosoft+Account.txt%7C_File=388:106
Microsoft+Visual+Studio+%32%30%31%30C%3A%5CUsers%5CVenom%5CDesktop%5CMicrosoft+Visual+Studio+%32%30%31%30.lnk%7C_lnk=388:210
Mozilla+FirefoxC%3A%5CUsers%5CPublic%5CDesktop%5CMozilla+Firefox.lnk%7C_lnk=388:314
Nero+Burning+ROM+%32%30%31%34C%3A%5CUsers%5CPublic%5CDesktop%5CNero+Burning+ROM+%32%30%31%34.lnk%7C_lnk=388:418
Offline.docxC%3A%5CUsers%5CVenom%5CDesktop%5COffline.docx%7C_File=388:522
Oracle+VM+VirtualBoxC%3A%5CUsers%5CPublic%5CDesktop%5COracle+VM+VirtualBox.lnk%7C_lnk=388:626
Outlook+%32%30%31%33C%3A%5CUsers%5CVenom%5CDesktop%5COutlook+%32%30%31%33.lnk%7C_lnk=463:2
PasswordsC%3A%5CUsers%5CVenom%5CDesktop%5CPasswords.lnk%7C_lnk=463:106
Privacy+Policy.docxC%3A%5CUsers%5CVenom%5CDesktop%5CPrivacy+Policy.docx%7C_File=463:210
sdfsdfsdf.au%33C%3A%5CUsers%5CVenom%5CDesktop%5Csdfsdfsdf.au%33%7C_File=463:626
Snipping+ToolC%3A%5CUsers%5CVenom%5CDesktop%5CSnipping+Tool.lnk%7C_lnk=538:2
Steyns.AGXC%3A%5CUsers%5CVenom%5CDesktop%5CSteyns.AGX%7C_File=538:106
SteynsStock.csvC%3A%5CUsers%5CVenom%5CDesktop%5CSteynsStock.csv%7C_File=538:210
Steynsv%32.AGXC%3A%5CUsers%5CVenom%5CDesktop%5CSteynsv%32.AGX%7C_File=538:314
Sweets.zipC%3A%5CUsers%5CVenom%5CDesktop%5CSweets.zip%7C_File=538:418
TeamViewer+%31%30C%3A%5CUsers%5CPublic%5CDesktop%5CTeamViewer+%31%30.lnk%7C_lnk=538:522
To-Do.txtC%3A%5CUsers%5CVenom%5CDesktop%5CTo-Do.txt%7C_File=538:626
Tweaking.com+-+Windows+RepairC%3A%5CUsers%5CVenom%5CDesktop%5CTweaking.com+-+Windows+Repair.lnk%7C_lnk=613:2
Word+%32%30%31%33C%3A%5CUsers%5CVenom%5CDesktop%5CWord+%32%30%31%33.lnk%7C_lnk=613:106
wyBuildC%3A%5CUsers%5CPublic%5CDesktop%5CwyBuild.lnk%7C_lnk=613:210
New+Text+Document.txtC%3A%5CUsers%5CVenom%5CDesktop%5CNew+Text+Document.txt%7C_File=613:314
Wordpress+Password.txtC%3A%5CUsers%5CVenom%5CDesktop%5CWordpress+Password.txt%7C_File=613:418
Color+CopC%3A%5CUsers%5CVenom%5CDesktop%5CColor+Cop.lnk%7C_lnk=163:418
Aliensoft+Logo+Single.pngC%3A%5CUsers%5CVenom%5CDesktop%5CAliensoft+Logo+Single.png%7C_File=313:522
AliensoftC%3A%5CUsers%5CVenom%5CDesktop%5CAliensoft%7C_Dir=688:418
reg.txtC%3A%5CUsers%5CVenom%5CDesktop%5Creg.txt%7C_File=613:626
DropboxC%3A%5CUsers%5CVenom%5CDesktop%5CDropbox.lnk%7C_lnk=688:2
Ftp+admin%40comcen.co.za.xmlC%3A%5CUsers%5CVenom%5CDesktop%5CFtp+admin%40comcen.co.za.xml%7C_File=163:106
~%24ffline.docxC%3A%5CUsers%5CVenom%5CDesktop%5C~%24ffline.docx%7C_File=88:626
Overhauling++Rizonesoft.com.jpgC%3A%5CUsers%5CVenom%5CDesktop%5COverhauling++Rizonesoft.com.jpg%7C_File=913:106
blippoC%3A%5CUsers%5CVenom%5CDesktop%5Cblippo%7C_Dir=1138:2
